exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.md
include setup.cfg
include requirements.txt
include .env
include nvc/libs/templates/repo.yml
include nvc/libs/templates/config.yml
include nvc/libs/templates/apt/roles/item.yml
include nvc/libs/templates/apt/vars/config.yml
include nvc/libs/templates/yum/roles/item.yml
include nvc/libs/templates/yum/vars/config.yml
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
